//$neutral: #778;
$neutral: #778;
$neutral: #335;
$angry: #E66;
$happy: #3B3;
$select: #51cbee;
$select: #4ae;
$innerBlur: .5em;
$innerWidth: .25em;

//$angry: #F33;
//$happy: #3F3;
$normal: #51cbee;

$opacity: 0.25;
