


$angry: #F33;
$happy: #3F3;
$normal: #51cbee;

$bwidth: 3px;

$inactiveRatio: 0.5;

.droppableSeat{
  border: $bwidth solid transparent;
}

@mixin accent($color){
  &.over{
    background-color: $color;
  }
  border-color: $color;
}

@mixin accenta($color, $a){
  &.over{
    background-color: rgba($color, $a);
  }
  border-color: rgba($color, $a);
}

.over{
  @include accenta($normal, 0.5);
}

.happy{
  @include accent($happy);
}

.angry{
  @include accent($angry);
}
