$muted: #777;
$very-muted: #AAA;

.generateLabel {
  color:$muted;
  /*text-align:right;*/
}

.generateDetail {
  color:$very-muted;
  font-size: 80%;
  font-weight:normal;
}

.config {
  border-left:.5em solid #777;
  padding-left:1em;
  margin: 1em 0;
}

.row {
  padding-bottom:.5em;
}

.row:last-child{
  padding-bottom:0;
}
