body {
  font-size: 2em;
  color: #000;
  font-family: "Helvetica Neue", Arial;
  font-weight: 200;
}

h1, h2, h3 {
  font-weight: 100;
}

a {
  color: hsl(200, 50%, 50%);
}

:global a.active {
  color: hsl(20, 50%, 50%);
}

:global .breadcrumbs a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding-left: 0;
}

:global #app  .nav > li > a{
  padding: .5em .25em;
}

:global .text-very-muted {
  color: #AAA;
}

:global .noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;           /* non-prefixed version, currently
                                  not supported by any browser */
}
