.guest {
  cursor: pointer;
}

.guestlink {
  cursor: pointer;
  width:100%;
  display:inline-block;
}

.emptyguest {
  font-style: italic;
}

.guest:hover {
  cursor: pointer;
  background-color:#777;
}

/* WARNING: overriding important is bad.  TODO: Fix this*/
.guest > a {

  color: #000;
  text-decoration: none !important;
}

.guest:not(:hover) a{
  color:#333;
}

.textLike {
  color: hsl(0, 75%, 75%);
}

.textDislike {
  color: hsl(120, 75%, 75%);
  color: hsl(0, 75%, 75%);
}
