.links {
  padding-left: .25em;
}

.nav{
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;

  > .navContent {
    height:100%;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: -15px;
    overflow-y:scroll;
  }
}
