.links {
}

:global .sidebarLayout{
  padding:0;
}

:global .NavSidebar{
  overflow:hidden;
}

:global .sticky {
    position: fixed;
    top:0;
    /*width: 100%;*/
    z-index: 9999 !important;
}

:global .ScrollingSidebar {
  overflow-y:scroll;
  overflow-x:hidden;
  margin-right:-17px;
  padding:0 .4em;

  > ul {
    > li {
      a {
          padding: .05em 0 .05em .5em;
          margin-left:-.25em;
      }
    }
  }
}

.nav{
  height: 100%;
  // width: 100%;
  overflow: hidden;
  // position: relative;
  padding:0;
  // padding-left: 5em;

  > .navContent {
    height:100%;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: -15px;
    overflow-y:scroll;
  }
}
