.seatingTable {
  background-color:#EEE;
  padding: 2em 0;
  margin-right: 2em;
}

.tableCell {
  height:2.5em;
  background-color: #966F33
}

.tableRow{
  line-height: 2em;
}

.place{
  margin:.5em 0;
}

.placeName{
  font-size: .75em;
  line-height:1.2em;
  text-align:center;
  height:6em;
  margin-left:1em;
  vertical-align:middle;
  margin-left:auto;
  margin-right:auto;
}

.placeName.textUp{
  writing-mode: vertical-lr;
  text-align:right;
}

.placeName.textDown{
  writing-mode: vertical-rl;
  text-align:left;
}

.guestPlace{

}

.emptyPlace{
  color:#7AA;
}

.emptyPlace{
  color:#ACC;
}

.placeSeat{
  text-align:center;
}

.seat {
  line-height: 1.5em;
}

.seat:hover {
  color:black;
  background: #AAA;
}

.seat.seated {
  color: #343;
}

.seat.unseated {
  color: #334;
  font-weight:bold;
}



.rating-type-bad {
  background-color: hsl(0, 60%, 70%);
}

.rating-type-good {
  background-color: hsl(120, 60%, 70%);
}

.rating-type-good.rating-score-1{
  background-color: hsl(120, 20%, 80%);
}

.rating-type-good.rating-score-2{
  background-color: hsl(120, 60%, 70%);
}

.rating-type-good.rating-score-3{
  background-color: hsl(120, 100%, 60%);
}


.rating-type-bad.rating-score-1{
  background-color: hsl(0, 20%, 80%);
}

.rating-type-bad.rating-score-2{
  background-color: hsl(0, 60%, 70%);
}

.rating-type-bad.rating-score-3{
  background-color: hsl(0, 100%, 60%);
}

.seat > * {
  text-align:center;
  cursor: pointer;
}
