.seatingTable {
  background-color:#EEE;
}

.tableCell {
  height:2.5em;
  background-color: #966F33
}

.tableRow{
  line-height: 2em;
}

.place{
  margin:.5em 0;
}

.placeName{
  font-size: .75em;
  line-height:1.2em;
}

.guestPlace{

}

.emptyPlace{

}

.placeSeat{
  text-align:center;
}

.seat {
  line-height: 1.5em;
}

.seat:hover {
  color:black;
  background: #AAA;
}

.seat.seated {
  color: #7A7;
}

.seat.unseated {
  color: #77A;
  font-weight:bold;
}

.seat > * {
  text-align:center;
  cursor: pointer;
}
