.venueGrid {
  background-color:#EEE;
  padding: 2em 0;
  /*margin-right: 2em;*/
}

.table{
  font-size:70%;
  text-align:center;
  margin:2px;
  margin-bottom:1em;

  > div > label{
    white-space:nowrap;
    margin-bottom: 0;
    color: #777;
  }
}

.seat{
  width: 100%;
  height:100%;
  background-color: #333;


  .empty{
    background-color: transparent;
    border: 2px solid black;
  }

  &.happy{
    background-color: green;
  }

  &.angry{
    background-color: #D00;
  }

  &:not(.empty):hover,
  &.happy:hover,
  &.angry:hover
  {
    background-color:#77A;
  }

  &.focused{
    background-color:#77A;
  }

}

.seatRow{
  line-height: 0;
}

.venue :global .col-xs-1 {
  padding-left: 1px;
  padding-right: 1px;
}

.venue h4 {
  color: #777;
  text-align:center;
}

.scoring {
  font-size:72%;
  color:#777;
  margin-left:2em;


  .title{
    font-weight:bold;
  }

  .value{
    margin-left:.5em;
    font-weight:600;
    background-color: white;
    padding:.1em;
    border: .1em solid #777;
  }

  &.perfect .value,
  &.bad .value{
    font-weight:800;
  }

  &.perfect .value{
    color: green;
  }

  &.good .value{
    color: blue;
  }

  &.ok .value{
    color: #CC0;
  }

  &.bad .value{
    color:red;
  }
}

.busy {
  display: inline-block;
  margin-left: 0.5em;
  text-align: center;
  color: green;
  font-size: 90%;
}


.tableCollection{
  font-size:60%;
  text-align:center;
}

.tableArea label{
  white-space:nowrap;
  margin-bottom: 0;
  color: #777;
  text-align:center;
  padding:auto;
  display:inline-block;
}
.edge-3 .tableArea .tableName,
.edge-3 .tableArea .tableName{
  text-align:left;
}
.edge-3 .tableArea label{
  max-width:2em;
}
.edge-3 .tableArea label{
  max-width:1em;
}



.tableArea{
  display: inline-block;
  margin: .5em .5em;
  text-align: center;
}

.seatMatrix{
  text-align:left;
}

.matrixRow{
  line-height:0;
}

.seatAreaWrapper{
  font-size:80%;
  line-height:0;
  display:inline-block;
  padding: .5em;
  text-align:center;
}

.seatArea{
  display:inline-block;
  width:1.5em;
  height:1.5em;

  overflow:hidden;
  border: .25em solid transparent;
  cursor: pointer;

  &.neutral{
    background-color:#778;
  }

  &.angry{
    background-color:#E66;
  }

  &.happy{
    background-color:#3B3;
  }

  &.emptySeat{
    border: .25em dashed #777;
  }

}

@mixin focus-halo($r, $g, $b){
  box-shadow: 0 0 1.2em .25em rgba($r, $g, $b, 1);
  border: .1em solid rgba($r, $g, $b, .5);
}

.seatArea:not(.emptySeat):not(.hasFocus):hover{
  box-shadow: 0 0 1em rgba(203, 203, 203, 1);
  border: .1em solid rgba(203, 203, 203, 1);
  background-color: rgba(203,203,203,1);
}

.hasFocus{
  @include focus-halo(81, 203, 238);
}

.hasHateFocus{
  @include focus-halo(238, 81, 81);
}

.hasLikeFocus{
  @include focus-halo(81, 238, 81);
}

.venueMenu {
  padding: 0 .25em;
  height:100%;

  > .venuMenuTitle {
    width: 100em;
    overflow-y: visible;
  }
}

$focusedTitle: #51cbee;
.focusOverview{

    h4, label{
      margin:.25em 0;
    }

    .focusName{
      font-weight:bold;
      color: $focusedTitle;

      &:hover{
        color: darken($focusedTitle, 30%);
      }
    }

    .focusName .icon {
      font-size: 80%;
    }

    .related{
      line-height:1em;
    }
}

.venueMenuItemsContainer{
  // height: 100%;
  // width: 100%;
  // overflow: hidden;
  // position: relative;
}
.venueMenuItems{
  // position: absolute;
  // top: 0px;
  // bottom: 0px;
  // left: 0px;
  // right: -15px;
  // overflow-y:scroll;

  .scoring > .value {
    max-width:2em;
  }

  $sliderSize: 1em;

  .sliderWrapper  {
    margin:0 $sliderSize*2 $sliderSize $sliderSize;
  }
}

// :global {
//   .rc-slider-mark-text:last-child{
//   left:90% !important;
// }

.venueMenuItems > li {
  margin-bottom:.25em;
}
