@import "_variables";
@import "_mixins";

.venueGrid {
  background-color:#EEE;
  padding: 2em 0;
  /*margin-right: 2em;*/
}

.table{
  font-size:70%;
  text-align:center;
  margin:2px;
  margin-bottom:1em;

  > div > label{
    white-space:nowrap;
    margin-bottom: 0;
    color: #777;
  }
}

.seat{
  width: 100%;
  height:100%;
  background-color: #333;


  .empty{
    background-color: transparent;
    border: 2px solid black;
  }

  &.happy{
    background-color: green;
  }

  &.angry{
    background-color: #D00;
  }

  &:not(.empty):hover,
  &.happy:hover,
  &.angry:hover
  {
    background-color:#77A;
  }

  &.focused{
    background-color:#77A;
  }

}

.seatRow{
  line-height: 0;
}

.venue :global .col-xs-1 {
  padding-left: 1px;
  padding-right: 1px;
}

.venue h4 {
  color: #777;
  text-align:center;
}

.scoring {
  font-size:72%;
  color:#777;
  margin-left:2em;


  .title{
    font-weight:bold;
  }

  .value{
    margin-left:.5em;
    font-weight:600;
    background-color: white;
    padding:.1em;
    border: .1em solid #777;
  }

  &.perfect .value,
  &.bad .value{
    font-weight:800;
  }

  &.perfect .value{
    color: green;
  }

  &.good .value{
    color: blue;
  }

  &.ok .value{
    color: #CC0;
  }

  &.bad .value{
    color:red;
  }
}

.busy {
  display: inline-block;
  margin-left: 0.5em;
  text-align: center;
  color: green;
  font-size: 90%;
}


.tableCollection{
  font-size:80%;
  text-align:center;
}

$tableBackground: #777;
$tableColor: #DDD;

.tableArea label{
  white-space:nowrap;
  margin-bottom: 0;
  color: $tableColor;
  text-align:center;
  padding:auto;
  display:block;
  background-color: $tableBackground;
}

.edge-3 .tableArea .tableName,
.edge-3 .tableArea .tableName{
  text-align:left;
}
.edge-3 .tableArea label{
  max-width:2em;
}
.edge-3 .tableArea label{
  max-width:1em;
}



.tableArea{
  display: inline-block;
  margin: .25em;
  // background-color: #EFEFEF;
  text-align: center;
  border-left: .5em solid $tableBackground;
}

.seatMatrix{
  text-align:left;

}

.matrixRow{
  line-height:0;
}

.seatAreaWrapper{
  font-size:90%;
  line-height:0;
  display:inline-block;
  padding:.25em;
  // padding: .5em;
  text-align:center;
}

// $neutral: #778;
// $angry: #E66;
// $happy: #3B3;

.seatArea{
  display:inline-block;
  width:1.5em;
  height:1.5em;

  overflow:hidden;
  border: .25em solid transparent;
  cursor: pointer;

  &.neutral{
    background-color:$neutral;
  }

  &.angry{
    background-color:$angry;
  }

  &.happy{
    background-color:$happy;
  }

  &.emptySeat{
    border: .25em dashed #777;
  }
}


.guest{
  display:inline-block;

  overflow:hidden;
  border: .1em solid transparent;
  cursor: pointer;
  padding: .1em;

  &.neutral{
    color: $neutral;

  }

  &.angry{
    color: $angry;
  }

  &.happy{
    color: $happy;
  }

  &.emptySeat{
    border: .25em dashed #777;
  }
}



// .seatArea:not(.emptySeat):not(.hasFocus):hover,
// .guest:not(.emptySeat):not(.hasFocus):hover {
//   box-shadow: 0 0 1em rgba(203, 203, 203, 1);
//   border-color: rgba(203, 203, 203, 1);
//   background-color: rgba(203,203,203,1);
// }

// .seatAreaWrapper:hover{
//   box-shadow: 0 0 1em rgba(203, 203, 203, 1);
//   border-color: rgba(203, 203, 203, 1);
//   background-color: rgba(203,203,203,1);
// }

$selectOpacity: 1;
.seatAreaWrapper:hover{
  box-shadow: inset 0 0 .25em rgba($select, $selectOpacity);
  border-color: rgba($select, $selectOpacity);
  background-color: rgba($select, $selectOpacity/10);
  color: black;
  // background-image:none;
  .guest {
    background: none;
  }
}


.hasFocus{
  // @include halo(81, 203, 238);
  @include burst($select);
}

.hasHateFocus{
  // @include halo(238, 81, 81);
  @include burst($angry);
}

.hasLikeFocus{
  // @include halo(81, 238, 81);
  @include burst($happy);
}

.venueMenu {
  padding: 0 .25em;
  height:100%;

  > .venuMenuTitle {
    width: 100em;
    overflow-y: visible;
  }
}

$focusedTitle: #51cbee;
.focusOverview{

    h4, label{
      margin:.25em 0;
    }

    .focusName{
      font-weight:bold;
      color: $focusedTitle;

      &:hover{
        color: darken($focusedTitle, 30%);
      }
    }

    .focusName .icon {
      font-size: 80%;
    }

    .related{
      line-height:1em;
    }
}

.venueMenuItemsContainer{

}
.venueMenuItems{


  .scoring > .value {
    max-width:2em;
  }

  $sliderSize: 1em;

  .sliderWrapper  {
    margin:0 $sliderSize*2 $sliderSize $sliderSize;
  }
}

.venueMenuItems > li {
  margin-bottom:.25em;
}
