.venueGrid {
  background-color:#EEE;
  padding: 2em 0;
  /*margin-right: 2em;*/
}

.table{
    font-size:70%;
    text-align:center;
    margin:2px;
    margin-bottom:1em;
}

.table label{
  white-space:nowrap;
  margin-bottom: 0;
}

.seat{
  width: 100%;
  height:100%;
  background-color: #333;
}

.seat.empty{
  background-color: transparent;
  border: 2px solid black;
}

.seat.happy{
  background-color: green;
}

.seat.angry{
  background-color: #D00;
}

.seatRow{
  line-height: 0;
}

.venue :global .col-xs-1 {
  padding-left: 1px;
  padding-right: 1px;
}

.scoring {
  font-size:72%;
  color:#777;
  margin-left:2em;
}

.scoring .title{
  font-weight:bold;
}

.scoring .value{
  margin-left:.5em;
  font-weight:600;
  background-color: white;
  padding:.1em;
  border: .1em solid #777;
}

.scoring.perfect .value, .scoring.bad .value{
  font-weight:800;
}

.scoring.perfect .value{
  color: green;
}

.scoring.good .value{
  color: blue;
}

.scoring.ok .value{
  color: #CC0;
}

.scoring.bad .value{
  color:red;
}

.busy {
  display: inline-block;
  margin-left: 0.5em;
  text-align: center;
  color: green;
  font-size: 90%;
}
